body{
    font-family: 'Poppins', sans-serif;
    margin: 0;
}
section{
    margin-bottom: 150px;
}
.header{
    background-image: url(images/donation8.jpg);
    background-repeat: no-repeat;
    background-position: 50%;
    
}
.text{
    color: white;
    font-size: 35px;
    text-align: center;
    padding: 50 px 50px;
}
#text{
    font-weight:bolder ;
    font-size: 35px;
    text-align: center;
    padding: 50 px 50px;
}
.help{
    padding: 70px 500px;
    text-align: center;
    
}


.text1{
    color: white;
    font-size: 15px;
    text-align: center;
    padding: 50 px 50px;

}
#text1{
    
    font-size: 15px;
    text-align: center;
    padding: 50 px 50px;

}
.those{
    color: tomato;
}
.link-button{
    text-decoration: none;
    background-image: linear-gradient( orange, tomato);
    padding: 10px 40px;
    color: white;
    font-weight: 800;
    border-radius: 5%;

}
.boro-taka{
    display: flex;
    text-align: center;
}
.taka{
    background-color: rgb(236, 234, 234);
    margin: 20px;
    padding: 50px;
    border-radius: 10px;
    font-weight: 1000;
    
    
}
#taka{
    margin-left: 250px;
}
#color-taka{
    color: tomato;
     border: 2px solid tomato;
}
#other-taka{
    text-align: center;
    font-weight: lighter;
    color: rgb(194, 197, 197);
}
hr{
    margin-left: 400px;
    margin-right: 400px;
}
#link-button{
    text-decoration: none;
    background-image: linear-gradient( orange, tomato);
    padding: 10px 40px;
    color: white;
    font-weight: 800;
    border-radius: 5%;
    margin-left: 625px;
}